node-red flows/flows.json
[
    {
        "id": "240222d6.2d9b9e",
        "type": "tab",
        "label": "culfw Config",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2b21613.ad4a58",
        "type": "tab",
        "label": "culfw inkomende berichten",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4eef0155.6397c",
        "type": "tab",
        "label": "culfw  -  uitgaande berichten",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1119b2.abf3964e",
        "type": "tab",
        "label": "culfw messages for testing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a4ce8684.3e9218",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "aa6997d1.a021d8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.0.250.52",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f4852363.e891d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "42c6610c.aa38c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "f646d009.1830f",
        "type": "mqtt-broker",
        "broker": "automation",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "verifyservercert": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": null,
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": null,
        "willPayload": ""
    },
    {
        "id": "82d780f7.7d288",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.0.250.52",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "verifyservercert": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": null,
        "willPayload": ""
    },
    {
        "id": "3bdcdb46.1f4b44",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "d450f0a7.81128",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "8a50f58a.83fee8",
        "type": "ui_group",
        "name": "Nest",
        "tab": "d8a3365d.44e008",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d8a3365d.44e008",
        "type": "ui_tab",
        "name": "Nest Thermostat sample",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "a7510c97.d4775",
        "type": "ui_group",
        "name": "RUN TIME",
        "tab": "c4016218.4116b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c4016218.4116b",
        "type": "ui_tab",
        "name": "OEE Monitoring",
        "icon": "show_chart",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4e1181dc.53dca",
        "type": "serial-port",
        "serialport": "COM6",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "74b15cb6.0ee3c4",
        "type": "debug",
        "z": "d2b21613.ad4a58",
        "name": "Show every incomming message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "85df21ea.37965",
        "type": "tcp in",
        "z": "d2b21613.ad4a58",
        "name": "",
        "server": "client",
        "host": "10.0.250.65",
        "port": "2323",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "7d7e3a57.cc7734"
            ]
        ]
    },
    {
        "id": "2f892c1e.2edfd4",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "Parse base info",
        "func": "// complete bericht komt hier binnen \n//\n\nvar msgId2Cmd = {\n    \t\"00\" : \"PairPing\",\n        \"01\" : \"PairPong\",\n        \"02\" : \"Ack\",\n        \"03\" : \"TimeInformation\",\n        \"10\" : \"ConfigWeekProfile\",\n        \"11\" : \"ConfigTemperatures\", //like eco/comfort etc\n        \"12\" : \"ConfigValve\",\n        \"20\" : \"AddLinkPartner\",\n        \"21\" : \"RemoveLinkPartner\",\n        \"22\" : \"SetGroupId\",\n        \"23\" : \"RemoveGroupId\",\n        \"30\" : \"ShutterContactState\",\n        \"40\" : \"SetTemperature\", //to thermostat\n        \"42\" : \"WallThermostatControl\", //by WallMountedThermostat\n        //Sending this without payload to thermostat sets desiredTemperature to the comfort/eco temperature\n        //We don't use it, we just do SetTemperature\n        \"43\" : \"SetComfortTemperature\",\n        \"44\" : \"SetEcoTemperature\",\n        \"50\" : \"PushButtonState\",\n        \"60\" : \"ThermostatState\", //by HeatingThermostat\n        \"70\" : \"WallThermostatState\",\n        \"82\" : \"SetDisplayActualTemperature\",\n        \"F1\" : \"WakeUp\",\n        \"F0\" : \"Reset\",\n};\n\n\nvar raw = msg.payload;\nvar obj = {};\n\nobj.msgCnt = raw.substr(3,2);\nobj.msgFlag = raw.substr(5,2);\nobj.msgTypeRaw = raw.substr(7,2);\nobj.msgType = msgId2Cmd[obj.msgTypeRaw] ? msgId2Cmd[obj.msgTypeRaw] : obj.msgTypeRaw;\nobj.deviceId = raw.substr(9,6).toLowerCase();\nobj.dest = raw.substr( 15,6).toLowerCase();\n\nobj.groupid = parseInt( Number(\"0x\"+raw.substr(21,2)) , 10 );\n\nobj.payload = raw.substr(23, (2*raw.length - 18));\n\n\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 460,
        "wires": [
            [
                "e513ed74.cb216",
                "234c19b3.2ffb36"
            ]
        ]
    },
    {
        "id": "e513ed74.cb216",
        "type": "debug",
        "z": "d2b21613.ad4a58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "da991879.f3a6b8",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "Eerste karakter",
        "func": "var raw = msg.payload;\nvar eerste = raw.substr(0,1);\n\nvar msg1= null;\nvar msg2 = null;\n\nif( eerste != 'Z' ){\n    msg1 = {payload: raw };\n}\nelse{\n    msg2 = {payload: raw };\n}\n\nreturn [ msg1 , msg2 ];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 360,
        "wires": [
            [
                "e513ed74.cb216"
            ],
            [
                "5a043514.1e126c"
            ]
        ]
    },
    {
        "id": "5a043514.1e126c",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "Controle lengte",
        "func": "var raw = msg.payload;\n\nvar hexStr = \"0x\"+raw.substr(1,2);\nvar len = parseInt( Number(hexStr) , 10 );\nif( len*2 + 3 != raw.length){\n    msg.payload = 'error lengte '+raw.length + \"  \" + len;\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 460,
        "wires": [
            [
                "2f892c1e.2edfd4",
                "e513ed74.cb216"
            ]
        ]
    },
    {
        "id": "c7fea7e9.cfb6f8",
        "type": "debug",
        "z": "d2b21613.ad4a58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 740,
        "wires": []
    },
    {
        "id": "d11f4fd7.02d32",
        "type": "switch",
        "z": "d2b21613.ad4a58",
        "name": "switch on msgTypeRaw",
        "property": "payload.msgTypeRaw",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "00",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "03",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "20",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "22",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "40",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "42",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "60",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "F1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 370,
        "y": 860,
        "wires": [
            [
                "7f0f46d.2e4c6b8"
            ],
            [
                "dffca064.9ceec"
            ],
            [
                "ffede942.fdb068"
            ],
            [
                "91ef6c3e.5418c"
            ],
            [
                "b1c39d08.78a2e"
            ],
            [
                "1b1f05ac.af7dba"
            ],
            [
                "ec986c0f.75754"
            ],
            [
                "55e7599e.ba9f18"
            ],
            [
                "e89745d6.ef7848"
            ],
            [
                "2df3b610.a611da"
            ],
            [
                "c462c16.e1b734"
            ]
        ]
    },
    {
        "id": "e89745d6.ef7848",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "42 = WallThermostatControl",
        "func": "var data = msg.payload.payload;\n\nvar hexStr = \"0x\"+data.substr(0,2);\nvar tmp = parseInt( Number(hexStr) , 10 );\nmsg.payload.desiredTemperatureRaw = tmp;\n\nhexStr = \"0x\"+data.substr(2,2);\ntmp = parseInt( Number(hexStr) , 10 );\nmsg.payload.measuredTemperature = tmp;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 660,
        "y": 1020,
        "wires": [
            [
                "c7fea7e9.cfb6f8"
            ]
        ]
    },
    {
        "id": "888b6aa3.4bfd78",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "Strip crlf",
        "func": "// haal CRLF eraf\nvar raw=msg.payload;\nmsg.payload = raw.substr(0, raw.length - 2 );\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "da991879.f3a6b8"
            ]
        ]
    },
    {
        "id": "2df3b610.a611da",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "60 = ThermostatState",
        "func": "function getBits(value, offset, len) {\n        var mask = 0;\n        while (len > 0) {\n                mask = mask << 1;\n                mask++;\n                len--;\n        }\n        return ((value >> offset) & mask);\n}\n\nfunction MAX_ParseDateTime(byte1, byte2, byte3) {\n\tvar result = {};\n\tresult.day = byte1 & 0x1F;\n\tresult.month = ((byte1 & 0xE0) >> 4) | (byte2 >> 7);\n\tresult.year = byte2 & 0x3F;\n\tvar time = byte3 & 0x3F;\n\tif ((time % 2) > 0)\n\t\tresult.time = (time / 2) + \":30\";\n\telse\n\t\tresult.time = (time / 2) + \":00\";\n\n\tresult.str = result.day+\".\"+result.month+\".\"+result.year+\" \"+result.time;\n\treturn result;\n}\n\nvar ctrl_modes = { \n\t'0' : \"auto\",\n\t'1' : \"manual\",\n\t'2' : \"temporary\",\n\t'3' : \"boost\",\n}; \n\nvar obj = msg.payload;\nvar data = msg.payload.payload;\n\nvar bits2 = parseInt( Number(\"0x\"+data.substr(0,2)) , 10 );\n\nobj.valveposition = parseInt( Number(\"0x\"+data.substr(2,2)) , 10 );\nobj.desiredTemperatureRaw = parseInt( Number(\"0x\"+data.substr(4,2)) , 10 );\n\nvar until1 = parseInt( Number(\"0x\"+data.substr(6,2)) , 10 );\nvar until2 = parseInt( Number(\"0x\"+data.substr(8,2)) , 10 );\nvar until3 = parseInt( Number(\"0x\"+data.substr(10,2)) , 10 );\n\nobj.mode = getBits(bits2, 0, 2);\nobj.modeStr = ctrl_modes[obj.mode] ? ctrl_modes[obj.mode] : obj.mode;\nobj.dstsetting = getBits(bits2, 3, 1); //is automatically switching to DST activated\nobj.langateway = getBits(bits2, 4, 1); //??\nobj.panel = getBits(bits2, 5, 1); //1 if the heating thermostat is locked for manually setting the temperature at the device\nobj.rferror = getBits(bits2, 6, 1); //communication with link partner (what does that mean?)\nobj.batterylow = getBits(bits2, 7, 1); //1 if battery is low\nobj.battery = obj.batterylow ? \"low\" : \"ok\";\n\nif (until3 > 0) data.untilStr = MAX_ParseDateTime(until1, until2, until3);\nobj.measuredTemperature = (until2 > 0) ? (((until1 & 0x01)<<8) + until2) : 0;\n//If the control mode is not \"temporary\", the cube sends the current (measured) temperature\nif ((obj.mode == 2) || (obj.measuredTemperature == 0)) obj.measuredTemperature = null;\nif (obj.mode != 2) delete obj.untilStr;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 1060,
        "wires": [
            [
                "c7fea7e9.cfb6f8"
            ]
        ]
    },
    {
        "id": "ec986c0f.75754",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "30= ShutterContactState",
        "func": "function getBits(value, offset, len) {\n        var mask = 0;\n        while (len > 0) {\n                mask = mask << 1;\n                mask++;\n                len--;\n        }\n        return ((value >> offset) & mask);\n}\n\nvar obj = msg.payload;\nvar data = msg.payload.payload;\n\nvar bits = (\"0x\"+data.substr(0,2))*1;\nobj.isopen = (getBits(bits, 0, 2) === 0) ? 0 : 1;\nobj.unkbits = getBits(bits, 2, 4);\nobj.rferror = getBits(bits, 6, 1);\nobj.batterylow = getBits(bits, 7, 1);\nobj.battery = data.batterylow ? \"low\" : \"ok\";\n\t\t\nmsg.payload = obj;\t\t\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 940,
        "wires": [
            [
                "c7fea7e9.cfb6f8"
            ]
        ]
    },
    {
        "id": "7f0f46d.2e4c6b8",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "00 = PairPing",
        "func": "function hex_to_ascii(str1)\n {\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n }\n\nvar device_types = {\n    \"0\" : \"Cube\",\n    \"1\" : \"HeatingThermostat\",\n    \"2\" : \"HeatingThermostatPlus\",\n    \"3\" : \"WallMountedThermostat\",\n    \"4\" : \"ShutterContact\",\n    \"5\" : \"PushButton\",\n    \"6\" : \"virtualShutterContact\",\n    \"7\" : \"virtualThermostat\",\n    \"8\" : \"PlugAdapter\",\n    \"9\" : \"new\"\n};\n\n\nvar obj = msg.payload;\nvar data = msg.payload.payload;\n\nobj.firmware = parseInt( Number(\"0x\"+data.substr(0,2)) , 10 );\nobj.deviceTypeRaw = parseInt( Number(\"0x\"+data.substr(2,2)) , 10 );\nobj.deviceType = device_types[obj.deviceTypeRaw];\nobj.testresult = parseInt( Number(\"0x\"+data.substr(4,2)) , 10 );\nobj.serial = hex_to_ascii(data.substr(6));\n\nmsg.culfw.BusyWith = 1;\nmsg.culfw.Step = -1;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 700,
        "wires": [
            [
                "86582ae8.52a6d8"
            ]
        ]
    },
    {
        "id": "55e7599e.ba9f18",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "40 = SetTemperature",
        "func": "var ctrl_modes = { \n\t'0' : \"auto\",\n\t'1' : \"manual\",\n\t'2' : \"temporary\",\n\t'3' : \"boost\",\n}; \n\nvar obj = msg.payload;\nvar data = obj.payload;\n\n\nvar bits =  (\"0x\"+data.substr(0,2))*1;\nmsg.payload.mode = bits >> 6;\nmsg.payload.modeStr = ctrl_modes[msg.payload.mode] ? ctrl_modes[msg.payload.mode] : msg.payload.mode;\nmsg.payload.desiredTemperature = (bits & 0x3F) / 2.0; // Convert to degree celcius.\n\t\t\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 980,
        "wires": [
            [
                "c7fea7e9.cfb6f8"
            ]
        ]
    },
    {
        "id": "ffede942.fdb068",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "03 = Time Information",
        "func": "var obj = msg.payload;\nvar data = obj.payload;\n\nobj.year = 2000+ (\"0x\"+data.substr(0,2))*1;\nobj.day =  (\"0x\"+data.substr(2,2))*1;\nobj.hour =  ((\"0x\"+data.substr(4,2))*1 ) & 0x1F;\nobj.min =  ((\"0x\"+data.substr(6,2))*1) & 0x3F;\nobj.sec = ((\"0x\"+data.substr(8,2))*1) & 0x3F;\nobj.month = ((((\"0x\"+data.substr(6,2))*1) >> 6) << 2) | (((\"0x\"+data.substr(8,2))*1) >> 6); // this is just guessed according to FHEM\nobj.unk1 = ((\"0x\"+data.substr(4,2))*1 ) >> 5;\nobj.unk2 = ((\"0x\"+data.substr(6,2))*1 ) >> 6;\nobj.unk3 = ((\"0x\"+data.substr(8,2))*1 ) >> 6;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 780,
        "wires": [
            [
                "c7fea7e9.cfb6f8"
            ]
        ]
    },
    {
        "id": "23385428.0b0dec",
        "type": "link in",
        "z": "d2b21613.ad4a58",
        "name": "Debug berichten IN",
        "links": [
            "af006ec9.a19bd",
            "89e800c6.7722a"
        ],
        "x": 95,
        "y": 360,
        "wires": [
            [
                "da991879.f3a6b8"
            ]
        ]
    },
    {
        "id": "66b77563.aaf92c",
        "type": "file",
        "z": "d2b21613.ad4a58",
        "name": "Log to c:\\1\\log.txt",
        "filename": "c:\\1\\log.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 950,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "dffca064.9ceec",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "01 = PairPong",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 740,
        "wires": [
            [
                "c7fea7e9.cfb6f8"
            ]
        ]
    },
    {
        "id": "91ef6c3e.5418c",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "11 = ConfigTemperatures",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 820,
        "wires": [
            [
                "c7fea7e9.cfb6f8"
            ]
        ]
    },
    {
        "id": "b1c39d08.78a2e",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "20 = AddLinkPartner",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 860,
        "wires": [
            [
                "c7fea7e9.cfb6f8"
            ]
        ]
    },
    {
        "id": "c462c16.e1b734",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "F1 = WakeUp",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 1100,
        "wires": [
            [
                "c7fea7e9.cfb6f8"
            ]
        ]
    },
    {
        "id": "1b1f05ac.af7dba",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "22 = SetGroupId",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 900,
        "wires": [
            [
                "c7fea7e9.cfb6f8"
            ]
        ]
    },
    {
        "id": "86582ae8.52a6d8",
        "type": "link out",
        "z": "d2b21613.ad4a58",
        "name": "Start Pairing",
        "links": [
            "c0f634ea.02f798",
            "d9af8067.5cce9"
        ],
        "x": 795,
        "y": 700,
        "wires": []
    },
    {
        "id": "fbb5ac95.f67d3",
        "type": "comment",
        "z": "d2b21613.ad4a58",
        "name": "Werking",
        "info": "See also: https://github.com/lucwuyts/node-red-culfw-max-interface\n\n\nDe berichten kunnen ongevraagd toekomen, daarom wordt per device bijgehouden \nop welke stap van de communicatie het zich bevindt.\n\nIeder device dat communiceert wordt daarom opgeslagen in een afzonderlijk context object\n\nWanneer een nieuw bericht van een device toekomt, wordt de toestand bekeken.\nBij een timeout, wordt BezigMet op -1 gezet => device is free.\n\n    culfw = {\n                DeviceId: device-id\n                LastMessage: datetime,\n                BezigMet: bericht-type,\n                Stap: aktie stap\n            }\n             \n    de context variable noemt \"culfw_<deviceid>\"\n    \n    BezigMet wordt geupdate in de handler van het bericht.\n\nvanaf de functie \"Update culfw status object\" wordt het culfw object meegegeven in een msg.culfw property\n\n    BezigMet = 1 -> pairing\n        Stap -1 -> nog niet geantwoord\n        Stap 1 -> PairPong sent, waiting for Ack\n        ",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "234c19b3.2ffb36",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "Update culfw status object",
        "func": "var objIn = msg.payload;\n\nvar emptyCulfw = {\n    Name: \"\",\n    LastMessage: 0,\n    TimeOut: -1,\n    BusyWith: -1,\n    Step: -1\n};\n    \nvar Name = \"culfw_\"+objIn.deviceId;\nvar culfw = global.get(Name) || emptyCulfw;\n\nculfw.Name = Name;\n// tijd wordt hier altijd aangepast\nculfw.LastMessage = Date.now();\n\nglobal.set(culfw.Name,culfw);\n\nmsg.culfw = culfw;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 770,
        "y": 460,
        "wires": [
            [
                "b4a60291.ad89a",
                "73093bc5.28ceb4"
            ]
        ]
    },
    {
        "id": "b4a60291.ad89a",
        "type": "debug",
        "z": "d2b21613.ad4a58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 440,
        "wires": []
    },
    {
        "id": "73093bc5.28ceb4",
        "type": "switch",
        "z": "d2b21613.ad4a58",
        "name": "Ack?",
        "property": "payload.msgTypeRaw",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "neq",
                "v": "02",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "02",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "d11f4fd7.02d32"
            ],
            [
                "6c5f9224.2b5d8c"
            ]
        ]
    },
    {
        "id": "6c5f9224.2b5d8c",
        "type": "switch",
        "z": "d2b21613.ad4a58",
        "name": "Switch on  culfw.BusyWith",
        "property": "culfw.BusyWith",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "43f12c86.9dd704"
            ],
            []
        ]
    },
    {
        "id": "43f12c86.9dd704",
        "type": "link out",
        "z": "d2b21613.ad4a58",
        "name": "Pairing",
        "links": [
            "c0f634ea.02f798"
        ],
        "x": 375,
        "y": 1140,
        "wires": []
    },
    {
        "id": "cdeeb387.4cd0a",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "Send PairPong or Reset",
        "func": "/*  PairPing received \n    sent a PairPong or Reset if paired with another DeviceId\n\n    output 1 -> send PairPong\n    output 2 -> send Reset\n    \n */\nvar config = global.get(\"culfw_config\");\n\nvar culfw = msg.culfw;\n\n// The PairPing message has an ascii id of this device\n// Add it to the culfw object\nculfw.serial = msg.payload.serial;\n\nvar msg1 = null; // pairpong output\nvar msg2 = null; // reset output\n\n// if dest != \"000000\" and not our id: this device is still paired with a different Culfw or Cube\nif( msg.payload.dest != config.DeviceId && msg.payload.dest != \"000000\"){\n    culfw.Step = 1;                 // wacht op Ack\n    \n    // sent this reset in name of someone else.\n    msg2 = {\n            sender: msg.payload.dest,  \n            dest: msg.payload.deviceId\n    };\n    \n}\nelse{\n    culfw.Step = 1;                 // wacht op Ack\n    msg1 = msg;\n}\n\n\nglobal.set( culfw.Name , culfw);\n\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 380,
        "wires": [
            [
                "efa1f042.9b4ad"
            ],
            [
                "37d04547.f7048a"
            ]
        ]
    },
    {
        "id": "1cda2f8d.b50b8",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "Pack and Send",
        "func": "/*  Build een bericht dat verzonden kan worden.\n\n    indien msg.sender gedefinieerd is, moet dit als verzender gebruikt worden.\n        (reset van aan ander toestel gebonden apparaat)\n        \n    msg.payload is een object met volgende properties:\n    \nmsgType - msg type raw\ndest    - destination address (3byte - 000000 for broadcast)\ngroupId - groep id\npayload - payload...\n\nZ  0E E0 05 40 17D0C0 137BFC 04 63 000000\nZs 0E 00 00 40 012345 137A0A 00 6C 000000\n\nZs0F000040012345137A0A006C000000\n\n1ste byte= lengte -> wordt hier berekend\n2de byte = msgCounter -> voorlopig 0\n3de byte flag - control byte (flag ?) -> voorlopig 0\n5de parameter = sender  - sender address (3byte) -> dit toestel, voorlopig vast.\n\n*/\n\nvar config = global.get(\"culfw_config\");\n\nvar obj = msg.payload;\nvar mySelf = \"\";\nif( msg.sender === undefined || msg.sender === null){\n    mySelf = config.DeviceId;\n}else{\n    mySelf = msg.sender;\n}\n\n\nmsgCounter = \"00\";\nflag = \"00\";\n\nvar bericht = msgCounter + flag + obj.msgType + mySelf + obj.dest + obj.groupId + obj.payload;\n\nvar len = (bericht.length / 2 + 0).toString(16);\nif( len.length == 1 ){\n    len = \"0\"+len;\n}\n\nmsg.payload = \"Zs\"+len.toString(16).toUpperCase()+bericht.toUpperCase();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "19e8dcd9.fce143"
            ]
        ]
    },
    {
        "id": "8ba39b4.14e0068",
        "type": "link out",
        "z": "4eef0155.6397c",
        "name": "",
        "links": [
            "993c810.5c6668",
            "1ffa7a9.ae20785"
        ],
        "x": 915,
        "y": 360,
        "wires": []
    },
    {
        "id": "63c99c58.70f514",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "Ack received",
        "func": "// einde vd taken.\n\nvar culfw = msg.culfw;\n\n// end of this action\nculfw.BusyWith = -1;    \nculfw.Step = -1;\nglobal.set( culfw.Name , culfw);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 420,
        "wires": [
            [
                "6ef05a26.568f54"
            ]
        ]
    },
    {
        "id": "d7de046b.5a74f8",
        "type": "switch",
        "z": "4eef0155.6397c",
        "name": "Switch on culfw.Step",
        "property": "culfw.Step",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "-1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 380,
        "wires": [
            [
                "cdeeb387.4cd0a"
            ],
            [
                "63c99c58.70f514"
            ]
        ]
    },
    {
        "id": "c0f634ea.02f798",
        "type": "link in",
        "z": "4eef0155.6397c",
        "name": "Pairing",
        "links": [
            "43f12c86.9dd704",
            "86582ae8.52a6d8"
        ],
        "x": 75,
        "y": 380,
        "wires": [
            [
                "d7de046b.5a74f8",
                "9e0417a7.1447a8"
            ]
        ]
    },
    {
        "id": "c552026f.c905d",
        "type": "tcp out",
        "z": "4eef0155.6397c",
        "host": "10.0.250.65",
        "port": "2323",
        "beserver": "client",
        "base64": false,
        "end": false,
        "name": "",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "1fe01808.73b1f8",
        "type": "inject",
        "z": "4eef0155.6397c",
        "name": "send V",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "V",
        "payloadType": "str",
        "x": 90,
        "y": 20,
        "wires": [
            [
                "19e8dcd9.fce143"
            ]
        ]
    },
    {
        "id": "6a839b60.f95504",
        "type": "inject",
        "z": "4eef0155.6397c",
        "name": "Enable Moritz",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Zr",
        "payloadType": "str",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "19e8dcd9.fce143"
            ]
        ]
    },
    {
        "id": "19e8dcd9.fce143",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "add CRLF and start listening again",
        "func": "msg.payload = msg.payload + '\\r\\nZr\\r\\n';\nmsg._session = null;    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 80,
        "wires": [
            [
                "f83f5bb0.3a2f08"
            ]
        ]
    },
    {
        "id": "1ffa7a9.ae20785",
        "type": "link in",
        "z": "4eef0155.6397c",
        "name": "Verstuur",
        "links": [
            "8ba39b4.14e0068",
            "c5b7c4c4.d86178",
            "90d05cae.a011f"
        ],
        "x": 75,
        "y": 140,
        "wires": [
            [
                "1cda2f8d.b50b8"
            ]
        ]
    },
    {
        "id": "7839fbe7.de2674",
        "type": "comment",
        "z": "4eef0155.6397c",
        "name": "Pairing --------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "7c05564b.bcfb88",
        "type": "debug",
        "z": "4eef0155.6397c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "9e0417a7.1447a8",
        "type": "debug",
        "z": "4eef0155.6397c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 170,
        "y": 420,
        "wires": []
    },
    {
        "id": "d74d919c.cc978",
        "type": "comment",
        "z": "4eef0155.6397c",
        "name": "Set Temp --------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 500,
        "y": 580,
        "wires": []
    },
    {
        "id": "77829dcc.38f5d4",
        "type": "inject",
        "z": "4eef0155.6397c",
        "name": "Zet 18°",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "18",
        "payloadType": "num",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "b741766f.080a98"
            ]
        ]
    },
    {
        "id": "f79c0d98.676ba",
        "type": "inject",
        "z": "4eef0155.6397c",
        "name": "Zet 22°",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "22",
        "payloadType": "num",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "b741766f.080a98"
            ]
        ]
    },
    {
        "id": "b741766f.080a98",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "",
        "func": "var temp = msg.payload;\n\n/*\nll - length\nnn - msg counter\ncc - control byte (flag ?)\ntt - msg type\nss - sender address (3byte)\ndd - destination address (3byte - 000000 for broadcast)\ngg - groep id\npp - payload...\n\nZ  0E E0 05 40 17D0C0 137BFC 04 63 000000\nZs 0E 00 00 40 012345 137A0A 00 6C 000000\n\nZs0F000040012345137A0A006C000000\n\n*/\nvar culfwNaam = \"culfw_137a0a\";\nvar culfw = context.get(culfwNaam) || {};\n\n// tijd wordt hier altijd aangepast\nculfw.LastMessage = Date.now();\nmsg.culfw = culfw;\n\n//-------------------------------------------------------\nvar bits = (0x40 | (temp*2 & 0x3F)).toString(16);\nvar extra = \"000000\";\n\nvar obj = {};\n\nobj.msgType = \"40\";             // pairpong\nobj.dest = \"137a0a\";\nobj.groupId = \"00\";\nobj.payload = bits + extra;\nculfw.Stap = 1;                 // wacht op Ack\n\nmsg.payload = obj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 640,
        "wires": [
            [
                "c5b7c4c4.d86178",
                "7c05564b.bcfb88"
            ]
        ]
    },
    {
        "id": "c5b7c4c4.d86178",
        "type": "link out",
        "z": "4eef0155.6397c",
        "name": "",
        "links": [
            "993c810.5c6668",
            "1ffa7a9.ae20785"
        ],
        "x": 895,
        "y": 640,
        "wires": []
    },
    {
        "id": "7063caa.8283534",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "Z0C26044213D5620000000021DC",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0C26044213D5620000000021DC",
        "payloadType": "str",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "83d74309.fcf3f",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "Z0F000460137BFC00000000190C2C00F0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0F000460137BFC00000000190C2C00F0",
        "payloadType": "str",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "e5480ec3.4d1e4",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "PairPing",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z17000400137A0A001122001001A04D4B4630303533343634",
        "payloadType": "str",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "72e46c4.5b42a94",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "Set Temperature",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0EE0054017D0C0137BFC0463000000",
        "payloadType": "str",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "edc6b61f.535798",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "TimeInformation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0F5C050317D0C0137C0800140F56F012",
        "payloadType": "str",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "89e800c6.7722a",
        "type": "link out",
        "z": "1119b2.abf3964e",
        "name": "Debug berichten UIT",
        "links": [
            "23385428.0b0dec"
        ],
        "x": 695,
        "y": 300,
        "wires": []
    },
    {
        "id": "ad157592.cacd78",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "PairPong",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0B85000117D0C0137A0A0000",
        "payloadType": "str",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "d893fdf9.04a1f",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "Ack",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0E850202137A0A17D0C00001190F28",
        "payloadType": "str",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "dca54152.6b425",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "Wakeup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0BA400F117D0C0137A0A003F",
        "payloadType": "str",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "159a5e24.4426e2",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "AddLinkPartner",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0E66002017D0C0137C0800137A0A01",
        "payloadType": "str",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "125219b7.c87296",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "SetGroupId",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0BA8002217D0C0137A0A0001",
        "payloadType": "str",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "7cdd58f6.ad5ba8",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "ConfigTemperatures",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z11E6001117D0C01171A7002A213D09071803",
        "payloadType": "str",
        "x": 210,
        "y": 500,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "8d4765c8.02e048",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z11AB001117D0C0137A0A002A213D09071803",
        "payloadType": "str",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "7ea0b291.9249dc",
        "type": "inject",
        "z": "d2b21613.ad4a58",
        "name": "STOP RECEIVING",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "false",
        "payload": "payload",
        "payloadType": "msg",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "7d7e3a57.cc7734"
            ]
        ]
    },
    {
        "id": "7d7e3a57.cc7734",
        "type": "function",
        "z": "d2b21613.ad4a58",
        "name": "Receive ON/OFF",
        "func": "var okToRcv = context.get(\"onoff\");\nif( okToRcv === undefined )\n    okToRcv = true;\n\nif(msg.topic == \"false\" ){\n    okToRcv = false;\n    context.set(\"onoff\" , okToRcv )\n}\nif(msg.topic == \"true\" ){\n    okToRcv = true;\n    context.set(\"onoff\" , okToRcv )\n}\n\nif( ! okToRcv || msg.topic.length > 0 ){\n    return null;\n}\n\nmsg.topic = '';\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "74b15cb6.0ee3c4",
                "888b6aa3.4bfd78"
            ]
        ]
    },
    {
        "id": "78d97cbf.0144b4",
        "type": "inject",
        "z": "d2b21613.ad4a58",
        "name": "START RECEIVING",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "true",
        "payload": "payload",
        "payloadType": "msg",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "7d7e3a57.cc7734"
            ]
        ]
    },
    {
        "id": "efa1f042.9b4ad",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "PairPong",
        "func": "var obj = {};\n\nobj.msgType = \"01\";             // pairpong\nobj.dest = msg.payload.deviceId;\nobj.groupId = \"00\";\nobj.payload = \"00\";\n\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 360,
        "wires": [
            [
                "8ba39b4.14e0068"
            ]
        ]
    },
    {
        "id": "50f426f4.d4c488",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "Send Reset",
        "func": "/* RESET\n\n    msg.sender = send in name of...\n    msg.dest = destination \n\n*/\nobj = {};\nobj.msgType = \"F0\";             // reset\nobj.dest = msg.dest;\nobj.sender = msg.sender;\nobj.groupId = \"00\";\nobj.payload = \"00\";\n\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "1cda2f8d.b50b8"
            ]
        ]
    },
    {
        "id": "ea5a5613.cc4ba8",
        "type": "link in",
        "z": "4eef0155.6397c",
        "name": "Send Reset",
        "links": [
            "37d04547.f7048a"
        ],
        "x": 75,
        "y": 180,
        "wires": [
            [
                "50f426f4.d4c488"
            ]
        ]
    },
    {
        "id": "37d04547.f7048a",
        "type": "link out",
        "z": "4eef0155.6397c",
        "name": "",
        "links": [
            "ea5a5613.cc4ba8"
        ],
        "x": 915,
        "y": 400,
        "wires": []
    },
    {
        "id": "563d0471.ae843c",
        "type": "inject",
        "z": "4eef0155.6397c",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "sender",
                "v": "001122",
                "vt": "str"
            },
            {
                "p": "dest",
                "v": "137a0a",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "50f426f4.d4c488"
            ]
        ]
    },
    {
        "id": "f8a72080.2487b",
        "type": "debug",
        "z": "4eef0155.6397c",
        "name": "Message to culfw controller",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 140,
        "wires": []
    },
    {
        "id": "f83f5bb0.3a2f08",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "Queue",
        "func": "// messages need to be separated from each other when sending.\n// this queue holds messages.\n//\n// if a message arrives for the same device with the same message id, \n// than an existing message, the old message is replaced with the new.\n//----------------------------------------------------------------------\nvar queue = context.get(\"queue\") || [];\n\nif( typeof(msg.payload) != 'boolean' ){\n    var obj = msg.payload;\n    var ix = -1;\n    for( i = 0 ; i < queue.length; i++){\n        var el = queue[i];\n        if( el.culfw.Name == obj.culfw.Name \n            && el.culfw.BusyWith == obj.culfw.BusyWith\n        ){\n            ix = i;\n            break;\n        }\n    }\n    if( ix >= 0){\n        queue[ix] = obj;\n    }else{\n        queue.push(obj);\n    }\n    // send empty message\n    msg = null;\n}\nelse{\n    if( queue.length > 0){\n        msg = {payload: queue.shift() };\n    }else{\n        msg = null;\n    }\n}\n\ncontext.set(\"queue\",queue);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 870,
        "y": 80,
        "wires": [
            [
                "c552026f.c905d",
                "f8a72080.2487b"
            ]
        ]
    },
    {
        "id": "ec027403.a577f8",
        "type": "inject",
        "z": "4eef0155.6397c",
        "name": "Queue Sending rate",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 880,
        "y": 20,
        "wires": [
            [
                "f83f5bb0.3a2f08"
            ]
        ]
    },
    {
        "id": "6ef05a26.568f54",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "Prepare email",
        "func": "msg.payload = \"culfw device paired\"\n              + \"\\r\\nDeviceId: \"+msg.payload.deviceId\n              + \"\\r\\nType: \"+msg.payload.deviceType\n              + \"\\r\\nSerial: \"+msg.payload.serial; \nmsg.from = \"luc.wuyts@a-d-e.net\";\nmsg.topic = \"CULFW Pairing message\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 420,
        "wires": [
            [
                "46da017c.28168"
            ]
        ]
    },
    {
        "id": "7080d502.594c4c",
        "type": "config",
        "z": "240222d6.2d9b9e",
        "name": "Config - on startup",
        "properties": [
            {
                "p": "culfw_config",
                "pt": "global",
                "to": "{\"Name\":\"Cube1\",\"IP\":\"10.0.250.65\",\"Port\":\"2323\",\"DeviceId\":\"001122\"}",
                "tot": "json"
            }
        ],
        "active": true,
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "66e8cbe1.2da474",
        "type": "e-mail",
        "z": "240222d6.2d9b9e",
        "server": "smtp.scarlet.be",
        "port": "25",
        "secure": false,
        "tls": false,
        "name": "luc.wuyts@a-d-e.net",
        "dname": "",
        "x": 220,
        "y": 160,
        "wires": []
    },
    {
        "id": "c943dfbe.8e51",
        "type": "link in",
        "z": "240222d6.2d9b9e",
        "name": "Send Email",
        "links": [
            "46da017c.28168"
        ],
        "x": 75,
        "y": 160,
        "wires": [
            [
                "66e8cbe1.2da474"
            ]
        ]
    },
    {
        "id": "46da017c.28168",
        "type": "link out",
        "z": "4eef0155.6397c",
        "name": "Send Email",
        "links": [
            "c943dfbe.8e51"
        ],
        "x": 915,
        "y": 440,
        "wires": []
    },
    {
        "id": "2ae31786.0670d8",
        "type": "comment",
        "z": "4eef0155.6397c",
        "name": "AddLinkPartner --------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 520,
        "y": 780,
        "wires": []
    },
    {
        "id": "80ff219b.951ea",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "Send AddLinkPartner",
        "func": "/* msg.payload = {\n    'dest': 'xxxxxx',           // send this message to this address\n    'partnerToLink': 'yyyyyy'   // address of partner to link\n}\n\n*/\nvar obj = {};\n\nobj.msgType = \"20\";             // AddLinkPartner\nobj.dest = msg.payload.dest;\nobj.groupId = \"00\";\nobj.payload = msg.payload.partnerToLink + \"01\";\n\nmsg.payload = obj;\n\n\n// when this command is send, there is not yet a culfw object\n// \nvar emptyCulfw = {\n    Name: \"\",\n    LastMessage: 0,\n    TimeOut: -1,\n    BusyWith: -1,\n    Step: -1\n};\n\nvar config = global.get(\"culfw_config\");\n\nvar Name = \"culfw_\"+config.DeviceId;    \nvar culfw = global.get(Name) || emptyCulfw;\n\nculfw.Name = Name;\n// tijd wordt hier altijd aangepast\nculfw.LastMessage = Date.now();\nculfw.BusyWith = 2;\nculfw.Step = 1;\n\nglobal.set(culfw.Name,culfw);\n\nmsg.culfw = culfw;\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 840,
        "wires": [
            [
                "90d05cae.a011f",
                "7c05564b.bcfb88"
            ]
        ]
    },
    {
        "id": "90d05cae.a011f",
        "type": "link out",
        "z": "4eef0155.6397c",
        "name": "",
        "links": [
            "1ffa7a9.ae20785"
        ],
        "x": 895,
        "y": 840,
        "wires": []
    },
    {
        "id": "f4618df3.42eec",
        "type": "switch",
        "z": "4eef0155.6397c",
        "name": "Switch on culfw.Step",
        "property": "culfw.Step",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "-1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 240,
        "y": 880,
        "wires": [
            [
                "80ff219b.951ea"
            ],
            [
                "ed7adc17.87b52"
            ]
        ]
    },
    {
        "id": "ed7adc17.87b52",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "Ack received",
        "func": "// einde vd taken.\n\nvar culfw = msg.culfw;\n\n// end of this action\nculfw.BusyWith = -1;    \nculfw.Step = -1;\nglobal.set( culfw.Name , culfw);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "c4bfc70f.b19d68",
        "type": "link in",
        "z": "4eef0155.6397c",
        "name": "",
        "links": [],
        "x": 75,
        "y": 880,
        "wires": [
            [
                "f4618df3.42eec"
            ]
        ]
    },
    {
        "id": "d781c4f.3efad38",
        "type": "link in",
        "z": "4eef0155.6397c",
        "name": "Start Send AddLinkPartner",
        "links": [
            "4d664945.c17fc8",
            "fbba06a9.339938"
        ],
        "x": 75,
        "y": 840,
        "wires": [
            [
                "80ff219b.951ea"
            ]
        ]
    },
    {
        "id": "452e7d5f.cd6524",
        "type": "comment",
        "z": "1119b2.abf3964e",
        "name": "Parse Test ---------------------------------------------------------------------------------------",
        "info": "",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "5ffeec57.24b7a4",
        "type": "comment",
        "z": "1119b2.abf3964e",
        "name": "Send Test ---------------------------------------------------------------------------------------",
        "info": "",
        "x": 390,
        "y": 660,
        "wires": []
    },
    {
        "id": "b2b4f71b.30faf8",
        "type": "inject",
        "z": "4eef0155.6397c",
        "name": "AddLinkPartner",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 980,
        "wires": [
            [
                "c1902911.7c6808"
            ]
        ]
    },
    {
        "id": "fbba06a9.339938",
        "type": "link out",
        "z": "4eef0155.6397c",
        "name": "",
        "links": [
            "d781c4f.3efad38"
        ],
        "x": 615,
        "y": 980,
        "wires": []
    },
    {
        "id": "c1902911.7c6808",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "",
        "func": "msg.payload = {\n    \"dest\": \"0fb74e\",           // shutter contact i'm playing with\n    \"partnerToLink\": \"137a0a\"   // thermostat valve\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 980,
        "wires": [
            [
                "fbba06a9.339938"
            ]
        ]
    },
    {
        "id": "8a9bc24f.28ea8",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0E0000200011220FB74E00137A0A01",
        "payloadType": "str",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    }
]