node-red flows/outgoing messages.json
[
    {
        "id": "4eef0155.6397c",
        "type": "tab",
        "label": "culfw  -  uitgaande berichten",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cdeeb387.4cd0a",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "Send PairPong or Reset",
        "func": "/*  PairPing received \n    sent a PairPong or Reset if paired with another DeviceId\n\n    output 1 -> send PairPong\n    output 2 -> send Reset\n    \n */\nvar config = global.get(\"culfw_config\");\n\nvar culfw = msg.culfw;\n\n// The PairPing message has an ascii id of this device\n// Add it to the culfw object\nculfw.serial = msg.payload.serial;\n\nvar msg1 = null; // pairpong output\nvar msg2 = null; // reset output\n\n// if dest != \"000000\" and not our id: this device is still paired with a different Culfw or Cube\nif( msg.payload.dest != config.DeviceId && msg.payload.dest != \"000000\"){\n    culfw.Step = 1;                 // wacht op Ack\n    \n    // sent this reset in name of someone else.\n    msg2 = {\n            sender: msg.payload.dest,  \n            dest: msg.payload.deviceId\n    };\n    \n}\nelse{\n    culfw.Step = 1;                 // wacht op Ack\n    msg1 = msg;\n}\n\n\nglobal.set( culfw.Name , culfw);\n\nreturn [msg1,msg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 380,
        "wires": [
            [
                "efa1f042.9b4ad"
            ],
            [
                "37d04547.f7048a"
            ]
        ]
    },
    {
        "id": "1cda2f8d.b50b8",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "Pack and Send",
        "func": "/*  Build een bericht dat verzonden kan worden.\n\n    indien msg.sender gedefinieerd is, moet dit als verzender gebruikt worden.\n        (reset van aan ander toestel gebonden apparaat)\n        \n    msg.payload is een object met volgende properties:\n    \nmsgType - msg type raw\ndest    - destination address (3byte - 000000 for broadcast)\ngroupId - groep id\npayload - payload...\n\nZ  0E E0 05 40 17D0C0 137BFC 04 63 000000\nZs 0E 00 00 40 012345 137A0A 00 6C 000000\n\nZs0F000040012345137A0A006C000000\n\n1ste byte= lengte -> wordt hier berekend\n2de byte = msgCounter -> voorlopig 0\n3de byte flag - control byte (flag ?) -> voorlopig 0\n5de parameter = sender  - sender address (3byte) -> dit toestel, voorlopig vast.\n\n*/\n\nvar config = global.get(\"culfw_config\");\n\nvar obj = msg.payload;\nvar mySelf = \"\";\nif( msg.sender === undefined || msg.sender === null){\n    mySelf = config.DeviceId;\n}else{\n    mySelf = msg.sender;\n}\n\n\nmsgCounter = \"00\";\nflag = \"00\";\n\nvar bericht = msgCounter + flag + obj.msgType + mySelf + obj.dest + obj.groupId + obj.payload;\n\nvar len = (bericht.length / 2 + 0).toString(16);\nif( len.length == 1 ){\n    len = \"0\"+len;\n}\n\nmsg.payload = \"Zs\"+len.toString(16).toUpperCase()+bericht.toUpperCase();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "19e8dcd9.fce143"
            ]
        ]
    },
    {
        "id": "8ba39b4.14e0068",
        "type": "link out",
        "z": "4eef0155.6397c",
        "name": "",
        "links": [
            "993c810.5c6668",
            "1ffa7a9.ae20785"
        ],
        "x": 915,
        "y": 360,
        "wires": []
    },
    {
        "id": "63c99c58.70f514",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "Ack ontvangen",
        "func": "// einde vd taken.\n\nvar culfw = msg.culfw;\n\n// end of this action\nculfw.BusyWith = -1;    \nculfw.Step = -1;\nglobal.set( culfw.Name , culfw);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 420,
        "wires": [
            [
                "6ef05a26.568f54"
            ]
        ]
    },
    {
        "id": "d7de046b.5a74f8",
        "type": "switch",
        "z": "4eef0155.6397c",
        "name": "Switch on culfw.Step",
        "property": "culfw.Step",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "-1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 380,
        "wires": [
            [
                "cdeeb387.4cd0a"
            ],
            [
                "63c99c58.70f514"
            ]
        ]
    },
    {
        "id": "c0f634ea.02f798",
        "type": "link in",
        "z": "4eef0155.6397c",
        "name": "Pairing",
        "links": [
            "43f12c86.9dd704",
            "86582ae8.52a6d8"
        ],
        "x": 75,
        "y": 380,
        "wires": [
            [
                "d7de046b.5a74f8",
                "9e0417a7.1447a8"
            ]
        ]
    },
    {
        "id": "c552026f.c905d",
        "type": "tcp out",
        "z": "4eef0155.6397c",
        "host": "10.0.250.65",
        "port": "2323",
        "beserver": "client",
        "base64": false,
        "end": false,
        "name": "",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "1fe01808.73b1f8",
        "type": "inject",
        "z": "4eef0155.6397c",
        "name": "send V",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "V",
        "payloadType": "str",
        "x": 90,
        "y": 20,
        "wires": [
            [
                "19e8dcd9.fce143"
            ]
        ]
    },
    {
        "id": "6a839b60.f95504",
        "type": "inject",
        "z": "4eef0155.6397c",
        "name": "Enable Moritz",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Zr",
        "payloadType": "str",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "19e8dcd9.fce143"
            ]
        ]
    },
    {
        "id": "19e8dcd9.fce143",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "add CRLF and start listening again",
        "func": "msg.payload = msg.payload + '\\r\\nZr\\r\\n';\nmsg._session = null;    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 80,
        "wires": [
            [
                "f83f5bb0.3a2f08"
            ]
        ]
    },
    {
        "id": "1ffa7a9.ae20785",
        "type": "link in",
        "z": "4eef0155.6397c",
        "name": "Verstuur",
        "links": [
            "8ba39b4.14e0068",
            "c5b7c4c4.d86178"
        ],
        "x": 75,
        "y": 140,
        "wires": [
            [
                "1cda2f8d.b50b8"
            ]
        ]
    },
    {
        "id": "7839fbe7.de2674",
        "type": "comment",
        "z": "4eef0155.6397c",
        "name": "Pairing --------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "7c05564b.bcfb88",
        "type": "debug",
        "z": "4eef0155.6397c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "9e0417a7.1447a8",
        "type": "debug",
        "z": "4eef0155.6397c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 170,
        "y": 420,
        "wires": []
    },
    {
        "id": "d74d919c.cc978",
        "type": "comment",
        "z": "4eef0155.6397c",
        "name": "Set Temp --------------------------------------------------------------------------------------------------------------------------------------------------------------------",
        "info": "",
        "x": 500,
        "y": 580,
        "wires": []
    },
    {
        "id": "77829dcc.38f5d4",
        "type": "inject",
        "z": "4eef0155.6397c",
        "name": "Zet 18°",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "18",
        "payloadType": "num",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "b741766f.080a98"
            ]
        ]
    },
    {
        "id": "f79c0d98.676ba",
        "type": "inject",
        "z": "4eef0155.6397c",
        "name": "Zet 22°",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "22",
        "payloadType": "num",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "b741766f.080a98"
            ]
        ]
    },
    {
        "id": "b741766f.080a98",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "",
        "func": "var temp = msg.payload;\n\n/*\nll - length\nnn - msg counter\ncc - control byte (flag ?)\ntt - msg type\nss - sender address (3byte)\ndd - destination address (3byte - 000000 for broadcast)\ngg - groep id\npp - payload...\n\nZ  0E E0 05 40 17D0C0 137BFC 04 63 000000\nZs 0E 00 00 40 012345 137A0A 00 6C 000000\n\nZs0F000040012345137A0A006C000000\n\n*/\nvar culfwNaam = \"culfw_137a0a\";\nvar culfw = context.get(culfwNaam) || {};\n\n// tijd wordt hier altijd aangepast\nculfw.LastMessage = Date.now();\nmsg.culfw = culfw;\n\n//-------------------------------------------------------\nvar bits = (0x40 | (temp*2 & 0x3F)).toString(16);\nvar extra = \"000000\";\n\nvar obj = {};\n\nobj.msgType = \"40\";             // pairpong\nobj.dest = \"137a0a\";\nobj.groupId = \"00\";\nobj.payload = bits + extra;\nculfw.Stap = 1;                 // wacht op Ack\n\nmsg.payload = obj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 640,
        "wires": [
            [
                "c5b7c4c4.d86178",
                "7c05564b.bcfb88"
            ]
        ]
    },
    {
        "id": "c5b7c4c4.d86178",
        "type": "link out",
        "z": "4eef0155.6397c",
        "name": "",
        "links": [
            "993c810.5c6668",
            "1ffa7a9.ae20785"
        ],
        "x": 895,
        "y": 640,
        "wires": []
    },
    {
        "id": "efa1f042.9b4ad",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "PairPong",
        "func": "var obj = {};\n\nobj.msgType = \"01\";             // pairpong\nobj.dest = msg.payload.deviceId;\nobj.groupId = \"00\";\nobj.payload = \"00\";\n\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 360,
        "wires": [
            [
                "8ba39b4.14e0068"
            ]
        ]
    },
    {
        "id": "50f426f4.d4c488",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "Send Reset",
        "func": "/* RESET\n\n    msg.sender = send in name of...\n    msg.dest = destination \n\n*/\nobj = {};\nobj.msgType = \"F0\";             // reset\nobj.dest = msg.dest;\nobj.sender = msg.sender;\nobj.groupId = \"00\";\nobj.payload = \"00\";\n\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "1cda2f8d.b50b8"
            ]
        ]
    },
    {
        "id": "ea5a5613.cc4ba8",
        "type": "link in",
        "z": "4eef0155.6397c",
        "name": "Send Reset",
        "links": [
            "37d04547.f7048a"
        ],
        "x": 75,
        "y": 180,
        "wires": [
            [
                "50f426f4.d4c488"
            ]
        ]
    },
    {
        "id": "37d04547.f7048a",
        "type": "link out",
        "z": "4eef0155.6397c",
        "name": "",
        "links": [
            "ea5a5613.cc4ba8"
        ],
        "x": 915,
        "y": 400,
        "wires": []
    },
    {
        "id": "563d0471.ae843c",
        "type": "inject",
        "z": "4eef0155.6397c",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "sender",
                "v": "001122",
                "vt": "str"
            },
            {
                "p": "dest",
                "v": "137a0a",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "50f426f4.d4c488"
            ]
        ]
    },
    {
        "id": "f8a72080.2487b",
        "type": "debug",
        "z": "4eef0155.6397c",
        "name": "Message to culfw controller",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 140,
        "wires": []
    },
    {
        "id": "f83f5bb0.3a2f08",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "Queue",
        "func": "// messages need to be separated from each other when sending.\n// this queue holds messages.\n//\n// if a message arrives for the same device with the same message id, \n// than an existing message, the old message is replaced with the new.\n//----------------------------------------------------------------------\nvar queue = context.get(\"queue\") || [];\n\nif( typeof(msg.payload) != 'boolean' ){\n    var obj = msg.payload;\n    var ix = -1;\n    for( i = 0 ; i < queue.length; i++){\n        var el = queue[i];\n        if( el.culfw.Name == obj.culfw.Name \n            && el.culfw.BusyWith == obj.culfw.BusyWith\n        ){\n            ix = i;\n            break;\n        }\n    }\n    if( ix >= 0){\n        queue[ix] = obj;\n    }else{\n        queue.push(obj);\n    }\n    // send empty message\n    msg = null;\n}\nelse{\n    if( queue.length > 0){\n        msg = {payload: queue.shift() };\n    }else{\n        msg = null;\n    }\n}\n\ncontext.set(\"queue\",queue);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 870,
        "y": 80,
        "wires": [
            [
                "c552026f.c905d",
                "f8a72080.2487b"
            ]
        ]
    },
    {
        "id": "ec027403.a577f8",
        "type": "inject",
        "z": "4eef0155.6397c",
        "name": "Queue Sending rate",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 880,
        "y": 20,
        "wires": [
            [
                "f83f5bb0.3a2f08"
            ]
        ]
    },
    {
        "id": "6ef05a26.568f54",
        "type": "function",
        "z": "4eef0155.6397c",
        "name": "Prepare email",
        "func": "msg.payload = \"culfw device paired\"\n              + \"\\r\\nDeviceId: \"+msg.payload.deviceId\n              + \"\\r\\nType: \"+msg.payload.deviceType\n              + \"\\r\\nSerial: \"+msg.payload.serial; \nmsg.from = \"luc.wuyts@a-d-e.net\";\nmsg.topic = \"CULFW Pairing message\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 420,
        "wires": [
            [
                "46da017c.28168"
            ]
        ]
    },
    {
        "id": "46da017c.28168",
        "type": "link out",
        "z": "4eef0155.6397c",
        "name": "Send Email",
        "links": [
            "c943dfbe.8e51"
        ],
        "x": 915,
        "y": 440,
        "wires": []
    }
]