node-red flows/test messages.json
[
    {
        "id": "1119b2.abf3964e",
        "type": "tab",
        "label": "culfw messages for testing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7063caa.8283534",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "Z0C26044213D5620000000021DC",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0C26044213D5620000000021DC",
        "payloadType": "str",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "83d74309.fcf3f",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "Z0F000460137BFC00000000190C2C00F0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0F000460137BFC00000000190C2C00F0",
        "payloadType": "str",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "e5480ec3.4d1e4",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "PairPing",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z170000000FB74E0EE127001004004C455131313132363539",
        "payloadType": "str",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "72e46c4.5b42a94",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "Set Temperature",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0EE0054017D0C0137BFC0463000000",
        "payloadType": "str",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "edc6b61f.535798",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "TimeInformation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0F5C050317D0C0137C0800140F56F012",
        "payloadType": "str",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "89e800c6.7722a",
        "type": "link out",
        "z": "1119b2.abf3964e",
        "name": "Debug berichten UIT",
        "links": [
            "23385428.0b0dec"
        ],
        "x": 615,
        "y": 320,
        "wires": []
    },
    {
        "id": "ad157592.cacd78",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "PairPong",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0B85000117D0C0137A0A0000",
        "payloadType": "str",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "d893fdf9.04a1f",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "Ack",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0E850202137A0A17D0C00001190F28",
        "payloadType": "str",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "dca54152.6b425",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "Wakeup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0BA400F117D0C0137A0A003F",
        "payloadType": "str",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "159a5e24.4426e2",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "AddLinkPartner",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0E66002017D0C0137C0800137A0A01",
        "payloadType": "str",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "125219b7.c87296",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "SetGroupId",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z0BA8002217D0C0137A0A0001",
        "payloadType": "str",
        "x": 190,
        "y": 460,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "7cdd58f6.ad5ba8",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "ConfigTemperatures",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z11E6001117D0C01171A7002A213D09071803",
        "payloadType": "str",
        "x": 210,
        "y": 500,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    },
    {
        "id": "8d4765c8.02e048",
        "type": "inject",
        "z": "1119b2.abf3964e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Z11AB001117D0C0137A0A002A213D09071803",
        "payloadType": "str",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "89e800c6.7722a"
            ]
        ]
    }
]